HERMES_NODE_ID=node1
COMPOSE_PROJECT_NAME=hermes_node1
STACK_ROOT=/opt/hermes-corporate-v1/node1
HERMES_NODE_DOMAIN=node1.example.com
AUTHELIA_AUTH_HOST=auth-node1.example.com
TRAEFIK_NETWORK=traefik-public
TRAEFIK_HTTP_ENTRYPOINT=web
TRAEFIK_HTTPS_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencrypt
