HERMES_NODE_ID=node2
COMPOSE_PROJECT_NAME=hermes_node2
STACK_ROOT=/opt/hermes-corporate-v1/node2
HERMES_NODE_DOMAIN=node2.example.com
AUTHELIA_AUTH_HOST=auth-node2.example.com
TRAEFIK_NETWORK=traefik-public
TRAEFIK_HTTP_ENTRYPOINT=web
TRAEFIK_HTTPS_ENTRYPOINT=websecure
TRAEFIK_CERTRESOLVER=letsencrypt
